body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0; // bootstrap 沒有清除 margin-bottom。這裡比照 meyerweb css reset 設定
}
