<button
  class="btn custom-btn-link-<%= color %> custom-btn-link-sm <%= rightIcon?'custom-btn-icon-end':'' %>"
  type="button"
>
  <%= btnText %> <% if (rightIcon) { %>
  <span class="custom-btn-icon material-symbols-rounded"> arrow_right_alt </span>
  <% } %>
</button>
