.ls-base {
  letter-spacing: 0.02em;
}

.noto-serif-tc {
  font-family: 'Noto Serif TC', serif;
}

.noto-sans-tc {
  font-family: 'Noto Sans TC', sans-serif;
}

.vertical-lr {
  writing-mode: vertical-lr;
}
