<footer class="footer bg-primary-500 py-12 py-lg-15">
  <div class="container">
    <div class="row mb-10 mb-lg-6">
      <!-- 營業資訊 -->
      <section class="col-lg-4 order-lg-2 mb-10 mb-lg-0">
        <div class="mb-4 mb-lg-6">
          <a class="d-block pt-3 pb-2" href="index.html">
            <img src="/assets/images/logo-white-en-lg.svg" alt="Plantique Life" />
          </a>
        </div>
        <p class="text-white mb-2 d-flex align-items-center">
          <span class="material-symbols-rounded align-bottom me-2 me-lg-3 fs-6"> schedule </span>平日&ensp;
          <time datetime="09:00">09:00</time>&thinsp;-&thinsp;<time datetime="21:00">21:00</time>
        </p>
        <p class="text-white mb-4 mb-lg-6 d-flex align-items-center">
          <span class="material-symbols-rounded align-bottom me-2 me-lg-3 fs-6"> mail </span>
          <a href="mailto:PlaniqueLife@example.invalid" class="text-white">PlaniqueLife@gmail.com</a>
        </p>
        <div class="d-flex column-gap-4">
          <!-- prettier-ignore -->
          <% const socialBtns = [
          {svgPath:'../assets/images/facebook.svg' , alt:'facebook-link'}, 
          {svgPath:'../assets/images/line.svg' , alt:'line-link'},
          {svgPath:'../assets/images/ig.svg' , alt:'ig-link'} ] %>
          <% socialBtns.forEach((socialBtn) => { %>
            <%- include('./components/buttons/btn-social', socialBtn); -%>
          <% }); %>
        </div>
      </section>
      <!-- 網站地圖 -->
      <section class="col-lg-8 order-lg-1">
        <div class="d-flex justify-content-between gap-lg-6 justify-content-lg-start text-center">
          <div>
            <p class="text-primary-200 mb-4 mb-lg-6">Member</p>
            <ul class="list-unstyled">
              <li class="mb-1 mb-lg-2"><a class="link-white site-map-link" href="#">會員權益</a></li>
              <li><a class="link-white site-map-link" href="#">會員帳戶</a></li>
            </ul>
          </div>
          <div>
            <p class="text-primary-200 mb-4 mb-lg-6">About Us</p>
            <ul class="list-unstyled">
              <li class="mb-1 mb-lg-2"><a class="link-white site-map-link" href="#">關於植感</a></li>
              <li><a class="link-white site-map-link" href="article-list.html">植藝生活</a></li>
            </ul>
          </div>
          <div>
            <p class="text-primary-200 mb-4 mb-lg-6">Product</p>
            <ul class="list-unstyled">
              <li class="mb-1 mb-lg-2"><a class="link-white site-map-link" href="#">植感精選</a></li>
              <li class="mb-1 mb-lg-2"><a class="link-white site-map-link" href="product-list.html">所有商品</a></li>
              <li><a class="link-white site-map-link" href="#">配件商品</a></li>
            </ul>
          </div>
          <div>
            <p class="text-primary-200 mb-4 mb-lg-6">FAQs</p>
            <ul class="list-unstyled">
              <li class="mb-1 mb-lg-2"><a class="link-white site-map-link" href="#">購物須知 </a></li>
              <li><a class="link-white site-map-link" href="#">退換貨政策</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Copyright -->
    <div
      class="d-flex flex-column text-center justify-content-center flex-lg-row justify-content-lg-start align-items-center text-lg-start"
    >
      <p class="text-white me-0 mb-lg-0 me-lg-6 mb-1">© 2025 PlantiqueLife All rights reserved.</p>
      <ul class="d-flex list-unstyled">
        <li class="me-3 me-lg-6"><a class="link-white" href="#">隱私權政策</a></li>
        <li><a class="link-white" href="#">使用者條款</a></li>
      </ul>
    </div>
  </div>
</footer>
