<footer class="footer bg-primary-500 py-15">
  <div class="container">
    <div class="row mb-10 mb-lg-6">
      <!-- 營業資訊 -->
      <section class="col-12 col-lg-4 order-lg-2 mb-10 mb-lg-0">
        <div class="mb-4 mb-lg-6">
          <a href="index.html">
            <img src="../assets/images/logo-white-lg-en.svg" alt="Plantique Life" />
          </a>
        </div>
        <p class="text-white mb-2">
          <span class="material-symbols-rounded align-bottom me-2 me-lg-3"> mail </span>平日 09:00 - 21:00
        </p>
        <p class="text-white mb-4 mb-lg-6">
          <span class="material-symbols-rounded align-bottom me-2 me-lg-3"> schedule </span>PlaniqueLife@gmail.com
        </p>
        <!-- TODO: 待替換成 button 元件 -->
        <div class="d-flex column-gap-4">
          <a class="social-link" href="#">
            <img src="../assets/images/facebook.svg" />
          </a>
          <a class="social-link" href="#">
            <img src="../assets/images/line.svg" />
          </a>
          <a class="social-link" href="#">
            <img src="../assets/images/ig.svg" />
          </a>
        </div>
      </section>
      <!-- 網站地圖 -->
      <section class="col-12 col-lg-8 order-lg-1 site-map">
        <div>
          <ul>
            <li>Member</li>
            <li><a class="link-white" href="#">會員權益</a></li>
            <li><a class="link-white" href="#">會員帳戶</a></li>
          </ul>
          <ul>
            <li>About Us</li>
            <li><a class="link-white" href="#">關於植感</a></li>
            <li><a class="link-white" href="#">植藝生活</a></li>
          </ul>
          <ul>
            <li>Product</li>
            <li><a class="link-white" href="#">植感精選</a></li>
            <li><a class="link-white" href="#">所有商品</a></li>
            <li><a class="link-white" href="#">配件商品</a></li>
          </ul>
          <ul>
            <li>FAQs</li>
            <li><a class="link-white" href="#">購物須知 </a></li>
            <li><a class="link-white" href="#">退換貨政策</a></li>
          </ul>
        </div>
      </section>
    </div>
    <!-- Copyright -->
    <div
      class="d-flex flex-column text-center justify-content-center flex-lg-row justify-content-lg-start align-items-center text-lg-start"
    >
      <p class="text-white me-0 mb-lg-0 me-lg-6 mb-1">© 2025 PlantiqueLife All rights reserved.</p>
      <div>
        <span class="me-3 me-lg-6"><a class="link-white" href="#">隱私權政策</a></span>
        <span><a class="link-white" href="#">使用者條款</a></span>
      </div>
    </div>
  </div>
</footer>
