<!-- TODO：細修確認(RWD、Icon、badge、border等等)-->
<!-- DONE: position:sticky，整理order，整理navigation的id，微調購物車的badge下拉幅度，JS 登入狀態改變 display、MemberMenu -->

<nav class="navbar navbar-expand-lg sticky-top bg-white py-2 py-lg-4">
  <div class="container">
    <!-- LOGO -->
    <a class="d-none d-lg-block w-25" href="index.html"
      ><img src="../assets/images/logo-primary-lg-en+zh.svg" alt="Plantique Life 植感生活"
    /></a>
    <a class="d-lg-none" href="index.html"
      ><img src="../assets/images/logo-primary-sm-en.svg" alt="Plantique Life 植感生活"
    /></a>
    <!-- 購物車、電腦版註冊登入、會員 -->
    <div class="ms-auto order-lg-2 w-25">
      <ul class="d-flex list-unstyled align-items-center justify-content-end">
        <li class="me-2 me-lg-4">
          <button class="btn cart-toggle-btn" data-bs-toggle="button" type="button">
            <div class="position-relative">
              <span class="material-symbols-rounded d-block"> shopping_cart </span>
              <span
                class="badge rounded-pill text-bg-danger text-white fs-xxs lh-base py-0 px-1 position-absolute top-0 start-100 cart-translate"
                >0</span
              >
            </div>
          </button>
        </li>
        <!-- 未登入 -->
        <li class="d-none d-lg-block guest">
          <button
            class="btn btn-white rounded-pill border-2 border-neutral-200 text-neutral font- py-3 px-6 me-4"
            type="button"
          >
            登入
          </button>
        </li>
        <li class="d-none d-lg-block guest">
          <button
            class="btn btn-primary rounded-pill border-2 border-neutral-200 text-neutral font- py-3 px-6"
            type="button"
          >
            註冊
          </button>
        </li>
        <!-- 登入後 -->
        <!-- 會員選單按鈕 -->
        <li class="d-none d-lg-block position-relative member text-center">
          <button
            class="btn member-menu-toggle-icon collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#memberMenu"
            aria-controls="memberMenu"
            aria-expanded="false"
            aria-label="Toggle menu"
          >
            <span class="material-symbols-rounded d-block"> person </span>
          </button>
          <!-- 會員選單內容 -->
          <ul class="collapse position-absolute list-unstyled bg-white p-6 member-menu" id="memberMenu">
            <li><a class="custom-nav-link mb-3" href="#">會員中心</a></li>
            <li><a class="custom-nav-link pb-6 border-bottom border-1 border-primary-200" href="#">訂單查詢</a></li>
            <li class="pt-6">
              <a class="custom-nav-link" href="#"
                >登出 <span class="ms-2 material-symbols-rounded align-middle"> logout </span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- 手機版漢堡選單按鈕 -->
    <button
      class="btn custom-nav-toggle-icon d-block d-lg-none collapse collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-symbols-rounded d-block d-lg-none"> density_medium </span>
    </button>
    <!-- 導覽列連結  -->
    <div class="collapse navbar-collapse text-center p-6 p-lg-0 order-lg-1 justify-content-center w-50" id="navbarNav">
      <ul class="navbar-nav pb-6 pb-lg-0 gap-3 gap-lg-0">
        <li>
          <a class="custom-nav-link" aria-current="page" href="#">關於品牌</a>
        </li>
        <li>
          <a class="custom-nav-link" href="#">最新消息</a>
        </li>
        <li>
          <a class="custom-nav-link" href="#">植感商品</a>
        </li>
        <li>
          <a class="custom-nav-link" href="#">植藝專欄</a>
        </li>
      </ul>
      <!-- 未登入 -->
      <ul class="navbar-nav pt-6 d-lg-none border-top border-1 border-primary-200 guest">
        <li>
          <a class="custom-nav-link" href="#">會員登入</a>
        </li>
      </ul>
      <!-- 登入後 -->
      <ul class="navbar-nav pt-6 d-lg-none border-top border-1 border-primary-200 member">
        <li>
          <a class="custom-nav-link mb-3" href="#">會員中心</a>
        </li>
        <li class="pb-6 border-bottom border-1 border-primary-200">
          <a class="custom-nav-link" href="#">訂單查詢</a>
        </li>
        <li class="pt-6">
          <a class="custom-nav-link" href="#"
            >登出 <span class="ms-2 material-symbols-rounded align-middle"> logout </span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- JS: 依登入狀態顯示/隱藏某些元素 -->
<script>
  let loggedIn = false;
  const guestItems = document.querySelectorAll('.guest');
  const memberItems = document.querySelectorAll('.member');
  if (loggedIn) {
    guestItems.forEach(item => item.classList.add('hidden'));
    memberItems.forEach(item => item.classList.remove('hidden'));
  } else {
    guestItems.forEach(item => item.classList.remove('hidden'));
    memberItems.forEach(item => item.classList.add('hidden'));
  }
</script>
