<nav class="navbar navbar-expand-lg sticky-top py-2 py-lg-4 bg-white z-index-1035">
  <div class="container">
    <!-- LOGO -->
    <a class="d-none d-lg-block w-lg-30" href="index.html"
      ><img src="/assets/images/logo-primary-en-zh-lg.svg" alt="Plantique Life 植感生活"
    /></a>
    <a class="d-lg-none" href="index.html"
      ><img src="/assets/images/logo-primary-en-sm.svg" alt="Plantique Life 植感生活"
    /></a>
    <!-- 網頁版導覽列連結  -->
    <div class="d-none d-lg-flex justify-content-center w-lg-40">
      <ul class="navbar-nav">
        <li>
          <a class="custom-nav-link" href="#">關於品牌</a>
        </li>
        <li>
          <a class="custom-nav-link" href="#">最新消息</a>
        </li>
        <li>
          <a class="custom-nav-link" href="product-list.html">植感商品</a>
        </li>
        <li>
          <a class="custom-nav-link" href="article-list.html">植藝專欄</a>
        </li>
      </ul>
    </div>
    <!-- 購物車、電腦版註冊登入、會員選單 -->
    <div class="ms-auto w-lg-30">
      <ul class="d-flex list-unstyled align-items-center justify-content-end">
        <li class="me-2 me-lg-4">
          <button
            class="btn cart-toggle-btn"
            data-bs-toggle="offcanvas"
            type="button"
            data-bs-target="#headerOffcanvas"
            aria-controls="headerOffcanvas"
          >
            <div class="position-relative">
              <span class="material-symbols-rounded d-block"> shopping_cart </span>
              <span
                class="badge rounded-pill text-bg-danger text-white lh-base py-0 px-1 position-absolute top-0 start-100 cart-badge"
                id="header-offcanvas-text"
                >0</span
              >
            </div>
          </button>
        </li>
        <!-- 未登入 -->
        <!-- prettier-ignore -->
        <% const navbarSignUpBtn = { type: 'filled', color:'primary', shape: 'pill', size: 'sm', btnText:'註冊', rightIcon: false, leftIcon: false, iconName:''} 
        const navbarLoginBtn = { type:'outline', color:'neutral', shape: 'pill', size: 'sm', btnText:'登入', rightIcon: false, leftIcon: false, iconName:'' } %>

        <li class="d-none d-lg-block guest me-4">
          <%- include('./components/buttons/btn-filled-or-outline', navbarLoginBtn); -%>
        </li>
        <li class="d-none d-lg-block guest">
          <%- include('./components/buttons/btn-filled-or-outline', navbarSignUpBtn); -%>
        </li>
        <!-- 登入後 -->
        <!-- 會員選單 -->
        <li class="d-none d-lg-block position-relative member">
          <!-- 會員選單按鈕 -->
          <button
            class="btn member-menu-toggle-btn collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#memberMenu"
            aria-controls="memberMenu"
            aria-expanded="false"
            aria-label="Toggle member menu"
          >
            <span class="material-symbols-rounded d-block"> person </span>
          </button>
          <!-- 會員選單內容 -->
          <ul class="collapse position-absolute list-unstyled bg-white text-center member-menu" id="memberMenu">
            <ul class="list-unstyled p-6">
              <li class="mb-3"><a class="member-menu-link" href="#">會員中心</a></li>
              <li>
                <a class="member-menu-link" href="#">訂單查詢</a>
              </li>
            </ul>
            <ul class="list-unstyled px-6 pb-6">
              <li class="pt-6 separator-line-top">
                <a class="member-menu-link py-1 d-flex justify-content-center align-items-center" href="#"
                  >登出 <span class="ms-2 material-symbols-rounded"> logout </span></a
                >
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
    <!-- 手機版漢堡選單按鈕 -->
    <button
      id="custom-nav-toggle-btn"
      class="btn custom-nav-toggle-btn d-block d-lg-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-symbols-rounded d-block d-lg-none"> density_medium </span>
    </button>
    <!-- 手機版導覽列連結 -->
    <div class="collapse d-lg-none position-absolute text-center bg-white custom-navbar-collapse-mobile" id="navbarNav">
      <ul class="navbar-nav p-6 gap-3">
        <li>
          <a class="custom-nav-link" href="#">關於品牌</a>
        </li>
        <li>
          <a class="custom-nav-link" href="#">最新消息</a>
        </li>
        <li>
          <a class="custom-nav-link" href="product-list.html">植感商品</a>
        </li>
        <li>
          <a class="custom-nav-link" href="article-list.html">植藝專欄</a>
        </li>
      </ul>
      <!-- 未登入 -->
      <ul class="navbar-nav px-6 pb-6 guest">
        <li class="pt-6 separator-line-top">
          <a class="custom-nav-link" href="#">會員登入</a>
        </li>
      </ul>
      <!-- 登入後 -->
      <ul class="navbar-nav px-6 pb-6 member">
        <li class="pt-6 separator-line-top">
          <a class="custom-nav-link mb-3" href="#">會員中心</a>
        </li>
        <li class="pb-6">
          <a class="custom-nav-link" href="#">訂單查詢</a>
        </li>
        <li class="pt-6 separator-line-top">
          <a class="custom-nav-link py-1 d-flex justify-content-center align-items-center" href="#"
            >登出 <span class="ms-2 material-symbols-rounded"> logout </span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- 手機版導覽列遮罩 -->
<div id="custom-nav-overlay" class="custom-nav-overlay z-index-1034 d-none d-lg-none"></div>
<!-- 購物車內容 -->
<div
  class="offcanvas offcanvas-end header-offcanvas border-start-0"
  data-bs-scroll="true"
  tabindex="-1"
  id="headerOffcanvas"
  aria-labelledby="headerOffcanvasLabel"
>
  <div class="offcanvas-header position-relative">
    <p class="h5 text-primary-700 offcanvas-title" id="headerOffcanvasLabel">購物車</p>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <ul class="header-offcanvas-cart list-unstyled d-flex flex-column gap-4 mb-8" id="header-offcanvas-cart"></ul>
    <div class="mt-auto">
      <!-- prettier-ignore -->
      <%- include('./components/buttons/btn-filled-or-outline', {
        type: 'filled', color: 'primary', shape: 'pill', size: 'sm',
        rightIcon: true, leftIcon: false, iconName: 'arrow_right_alt', 
        dataId: 'headerGoCartBtn', btnClass: 'justify-content-center w-100',
        btnText: '去結帳'
      }); -%>
    </div>
  </div>
</div>

<!-- JS: 依登入狀態顯示/隱藏某些元素 -->
<script type="module">
  let loggedIn = false;
  const guestItems = document.querySelectorAll('.guest');
  const memberItems = document.querySelectorAll('.member');
  if (loggedIn) {
    guestItems.forEach(item => item.classList.add('hidden'));
    memberItems.forEach(item => item.classList.remove('hidden'));
  } else {
    guestItems.forEach(item => item.classList.remove('hidden'));
    memberItems.forEach(item => item.classList.add('hidden'));
  }
</script>

<!-- JS: 手機版導覽列遮罩 -->
<script type="module">
  const navbarNav = document.getElementById('navbarNav');
  const navOverlay = document.getElementById('custom-nav-overlay');
  const navToggleBtn = document.getElementById('custom-nav-toggle-btn');

  navbarNav.addEventListener('show.bs.collapse', () => {
    navOverlay.classList.add('d-block');
    navOverlay.classList.remove('d-none');
  });

  navbarNav.addEventListener('hidden.bs.collapse', () => {
    navOverlay.classList.add('d-none');
    navOverlay.classList.remove('d-block');
  });

  navOverlay.addEventListener('click', () => {
    navToggleBtn.click();
  });
</script>

<!-- 購物車 -->
<script type="module" src="../assets/js/layout/header.js"></script>
