@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

@import './utils/custom-bs';

@import './base/base';
@import './utils/custom-utilities';

// layout

@import './layout/header';
@import './layout/footer';

// components

@import './components/breadcrumb';
@import './components/product-card';

// section

@import './pages/product-detail/product-swiper';
@import './pages/product-detail/upper-section';
@import './pages/product-detail/product-detail-end';
