@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

@import './utils/custom-bs';

@import './base/base';
@import './utils/custom-utilities';

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/shopping-cart';
