.product-card-img-height {
  height: 350px;

  @media (min-width: 992px) {
    height: 420px;
  }
}

.favorite-btn {
  top: 12px;
  right: 12px;
}

.card-img-top {
  transition: transform 0.5s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}
