.product-card-img-height {
  height: 350px;

  @include media-breakpoint-up(lg) {
    height: 420px;
  }
}

.favorite-btn {
  top: 8px;
  right: 8px;
  z-index: 10;

  @include media-breakpoint-up(lg) {
    top: 12px;
    right: 12px;
  }
}

.product-card-img {
  transition: transform 0.5s ease;
}

.product-card:hover .product-card-img {
  transform: scale(1.1);
}
