<nav style="--bs-breadcrumb-divider: 'chevron_right'" aria-label="breadcrumb">
  <ol class="breadcrumb fs-sm fs-lg-8 mb-6 mb-lg-12">
    <% items.forEach((item, i) => { %>
    <li class="breadcrumb-item d-flex align-items-center <%= i === items.length - 1 ? 'active' : '' %>">
      <% if (i === items.length - 1) { %> <%= item.name %> <% } else { %>
      <a href="<%= item.link %>"> <%= item.name %> </a>
      <% } %>
    </li>
    <% }); %>
  </ol>
</nav>
