<div class="container">
  <div class="row">
    <div class="col-9 col-md-4 col-lg-3">
      <div class="card rounded-0 border-0">
        <div class="position-relative overflow-hidden product-card-img-height">
          <img src="" class="card-img-top rounded-0 h-100 w-100 object-fit-cover" alt="" />
          <button type="button" class="btn bg-transparent border-0 p-0 position-absolute favorite-btn">
            <span class="material-icons-outlined text-neutral-700 p-2 p-lg-3 bg-white bg-opacity-40 rounded-circle">
              favorite_border
            </span>
          </button>
        </div>
        <div class="card-body p-0 pt-3 pt-lg-5">
          <span class="fs-xm fs-lg-sm text-primary bg-primary-100 px-2 px-lg-3 py-1">質感精選</span>
          <div class="d-flex justify-content-between align-items-center mt-1 mt-lg-2">
            <div>
              <h5 class="card-title fs-h6 fs-lg-h5 text-neutral-700 fw-bold mb-1 mb-lg-2">泡泡森林</h5>
              <p class="card-text fs-h7 fs-lg-h6 text-primary-700 fw-bold">NT$6,200</p>
            </div>
            <button type="button" class="btn bg-transparent border-0 p-0">
              <span class="material-icons-outlined text-neutral-700 p-2 p-lg-3 icon"> shopping_cart </span>
            </button>
          </div>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
