@use 'sass:map';

@include media-breakpoint-up(lg) {
  .w-lg-30 {
    width: 30%;
  }
  .w-lg-40 {
    width: 40%;
  }
}

.z-index-1035 {
  z-index: 1035 !important;
}

.z-index-1034 {
  z-index: 1034 !important; // 比 bs 預設的 fixed 多 （為了遮蓋 back to top 按鈕）
}

.custom-nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0.4);
}

.separator-line-top {
  border-top: 0.8px solid $primary-200;
}

.custom-nav-link {
  color: $neutral-700;
  font-size: $font-size-sm;
  display: block;
  padding-top: 0.343rem;
  padding-bottom: 0.343rem;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
    padding-top: map.get($spacers, 1);
    padding-bottom: map.get($spacers, 1);
    padding-left: map.get($spacers, 3);
    padding-right: map.get($spacers, 3);
  }
}

.cart-toggle-btn {
  color: $neutral-700;
  padding: map.get($spacers, 2);
  border-width: 0;
  border-radius: 50%;
  background-color: transparent;
  &.active {
    background-color: $primary-50;
  }
  @include media-breakpoint-up(lg) {
    padding: map.get($spacers, 3);
  }
}
.cart-badge {
  font-size: $font-size-xxs;
  transform: translate(-73.333%, -22.222%);

  @include media-breakpoint-up(lg) {
    font-size: $font-size-xs;
    transform: translate(-50%, -40%);
  }
}

.member-menu {
  right: 0;
  top: 4rem;
  min-width: 12.25rem;
}
.member-menu-toggle-btn {
  color: $neutral-700;
  padding: map.get($spacers, 3);
  border-width: 0;
  border-radius: 50%;
  background-color: $primary-50;
  &:hover:focus,
  :active {
    background-color: $primary-50;
  }
  &.collapsed {
    background-color: transparent;
    &:hover:focus,
    :active {
      background-color: transparent;
    }
  }
}
.member-menu-link {
  color: $neutral-700;
  font-size: $font-size-sm;
  display: block;
  padding-top: 0.343rem;
  padding-bottom: 0.343rem;
}

.custom-nav-toggle-btn {
  transition: none;
  border-width: 0;
  border-radius: 50%;
  padding: map.get($spacers, 2);
  color: $neutral-700;
  background-color: transparent;
  &:hover,
  &:active {
    background-color: $primary-50;
  }
}

.member.hidden {
  display: none !important;
}
.guest.hidden {
  display: none !important;
}
