.btn {
  display: flex;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: fill;
}

//hero
.hero {
  max-height: 800px;
  background-image: url(/assets/images/img_banner_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 185px;
  padding-bottom: 185px;
}
@media (max-width: 375px) {
  .hero {
    padding-top: 146px;
    padding-bottom: 146px;
  }
}

.hero-title {
  max-width: 196px;
}

//news-section

// .vertical-lr {
//   writing-mode: vertical-lr;
//   text-orientation: upright;
// }

.news-title {
  writing-mode: vertical-lr; //垂直從左到右
}

@media (max-width: 768px) {
  .news-title {
    writing-mode: horizontal-tb; //* 水平書寫 */
    white-space: nowrap;
  }
}

.point {
  width: 8px;
  height: 4px;
  border-radius: 1000px;
  background-color: $primary-600;
  opacity: 40%;
  margin-right: 12px;
}

.point-active {
  width: 72px;
  opacity: 1000%;
}
