// button 待更新
.btn {
  display: flex;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: fill;
}

.hero {
  max-height: 800px;
  background-image: url(/assets/images/img_banner_01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 185px;
  padding-bottom: 185px;
}
@media (max-width: 375px) {
  .hero {
    padding-top: 146px;
    padding-bottom: 146px;
  }
}

.news-imge {
  max-height: 280px;
  overflow: hidden;
}

.news-title {
  writing-mode: vertical-lr; // 垂直從左到右
}

@media (max-width: 375px) {
  .news-title {
    writing-mode: horizontal-tb; // 水平書寫
    white-space: nowrap;
  }
}

.point {
  width: 8px;
  height: 4px;
  border-radius: 1000px;
  background-color: $primary-600;
  opacity: 40%;
  margin-right: 12px;
}

.point-active {
  width: 72px;
  opacity: 1000%;
}

// swiper

.swiper-slide {
  max-width: 258px;
  @include media-breakpoint-up(md) {
    max-width: 306px; /* 自訂卡片寬度 */
    flex-shrink: 0; /* 避免被壓縮 */
  }
}

.swiper-navigation-icon {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 56px;
  height: 56px;
  padding: 16px;
  font-size: 24px;
  border-radius: 100%;
  background: $primary-600;
  color: #fff;
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
