.cart-nav {
  --cart-step: 40px;
  --cart-progress-height: 1px;
  @include media-breakpoint-up(lg) {
    --cart-step: 56px;
    --cart-progress-height: 2px;
  }
  .cart-step {
    width: var(--cart-step);
    height: var(--cart-step);
  }
  .nav-link {
    text-align: start;
    pointer-events: none;
    padding: 0;
    position: relative;
    .cart-step {
      transition:
        color 0.6s,
        background-color 0.6s,
        border-color 0.6s;
    }
    .cart-progress {
      content: '';
      position: absolute;
      top: calc(var(--cart-step) / 2 - var(--cart-progress-height) / 2);
      height: var(--cart-progress-height);
      background-color: $border-color;
      &-start {
        left: 0;
        right: calc(50% + var(--cart-step) / 2);
      }
      &-end {
        left: calc(50% + var(--cart-step) / 2);
        right: 0;
      }
    }
    .cart-progress::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: var(--cart-progress-height);
      background-color: $primary;
      transition: width 0.6s linear;
    }
  }
  .nav-link.active,
  .nav-link.step-completed {
    background: none;
    color: initial;
    .cart-step {
      background-color: $primary !important;
      border-color: $primary !important;
      color: $white !important;
    }
    .cart-progress-start::before {
      width: 100%;
    }
  }
  .nav-link:not(.active):not(.step-undo) {
    .cart-progress-start::before {
      width: 100%;
    }
  }
  .nav-link.step-completed {
    .cart-progress-end::before {
      width: 100%;
    }
  }
}

.summary-wrapper {
  padding-top: 32px;
  @include media-breakpoint-up(lg) {
    padding-top: 56px;
  }
}

.cart-product-img {
  height: 233px;
  @include media-breakpoint-up(lg) {
    height: 269px;
  }
}
.cart-product-img.add-on {
  height: 160px;
}
.cart-product-quantity {
  min-width: 41px;
  @include media-breakpoint-up(lg) {
    min-width: 28px;
  }
}
.cart-product-btn {
  width: 36px;
  height: 36px;
  @include media-breakpoint-up(lg) {
    width: 40px;
    height: 40px;
  }
}

.cart-list-header {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(0.5 * var(--bs-gutter-x));
    right: calc(0.5 * var(--bs-gutter-x));
    border-bottom: 1px solid $border-color;
  }
}
.cart-list li:not(:last-child) {
  margin-bottom: map-get($spacers, 6);
}

.coupon-selected-name.selected {
  color: $secondary !important;
  background-color: $secondary-100 !important;
}
.coupon-modal {
  .modal-dialog {
    --bs-modal-margin: calc(var(--bs-gutter-x) * 0.5);
    --bs-modal-width: 416px;
  }
  .modal-content {
    max-height: 600px;
  }
}
.coupon-modal-list > li:not(:last-child) {
  margin-bottom: map-get($spacers, 4);
}
.coupon-layout {
  height: 96px;
  position: relative;
  & > *:first-child {
    width: 90px;
  }
  &:not(.unselected)::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -2px;
    border-left: 4px dotted $white;
  }
}
.coupon-select {
  height: 96px;
  position: relative;
  &.unselected::before {
    content: '未選擇優惠券';
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-sm;
    color: $neutral-400;
    background-color: $neutral-100;
  }
}
