@use 'sass:map';

// 調整手機版 gutter on outside 為 12px
.px-6px {
  padding-left: 6px;
  padding-right: 6px;
}

.custom-tab-btn.active {
  color: $primary-600 !important;
  border-bottom: 2px solid $primary-600 !important;
}

// 客製化 container-lg: 當<lg時，內容滿版，左右不留12px的padding
.custom-container-lg {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding-right: calc($container-padding-x / 2);
    padding-left: calc($container-padding-x / 2);
    margin-right: auto;
    margin-left: auto;
    max-width: map.get($container-max-widths, lg);
  }
  @include media-breakpoint-up(xl) {
    padding-right: calc($container-padding-x / 2);
    padding-left: calc($container-padding-x / 2);
    margin-right: auto;
    margin-left: auto;
    max-width: map.get($container-max-widths, xl);
  }
  @include media-breakpoint-up(xxl) {
    padding-right: calc($container-padding-x / 2);
    padding-left: calc($container-padding-x / 2);
    margin-right: auto;
    margin-left: auto;
    max-width: map.get($container-max-widths, xxl);
  }
}

.adjust-product-card-img-size {
  .product-card-img-height {
    height: 230px;
  }
  @include media-breakpoint-up(lg) {
    .product-card-img-height {
      height: 420px;
    }
  }
}

.section-decoration-line-right {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc($font-size-base * 4 + 0.02em * 3 + map.get($spacers, 6));
    width: 100%;
    height: 1px;
    background-color: $primary-200;
  }

  @include media-breakpoint-up(lg) {
    &::after {
      left: calc($font-size-base * 4 + 0.02em * 3 + map.get($spacers, 6) * 2);
    }
  }
}

.section-decoration-line-both {
  position: relative;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% - $h7-font-size * 2 - 0.02em * 3 - map.get($spacers, 6));
    height: 1px;
    background-color: $primary-200;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(50% - $h7-font-size * 2 - 0.02em * 3 - map.get($spacers, 6));
    height: 1px;
    background-color: $primary-200;
  }
}
