.btn-1 {
  display: flex;
  font-size: 18px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: fill;
}

.hero {
  max-height: 800px;
  background-image: url(/assets/images/img_banner_01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-py {
  padding-top: 146px;
  padding-bottom: 146px;

  @include media-breakpoint-up(md) {
    padding-top: 185px;
    padding-bottom: 185px;
  }
}

.news-image {
  max-height: 280px;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: bottom;
  }
}

.news-title {
  writing-mode: horizontal-tb; // 水平書寫
  white-space: nowrap;

  @include media-breakpoint-up(md) {
    writing-mode: vertical-lr; // 垂直從左到右
  }
}

// swiper

.swiper-pagination-bullet {
  width: 8px;
  height: 4px;
  border-radius: 1000px;
  background-color: $primary-600;
  margin-right: 12px;
  transition: all 0.3s ease;
  text-align: start;
}

.swiper-pagination-bullet-active {
  width: 72px;
}

.swiper-slide-prouct {
  max-width: 258px;
  @include media-breakpoint-up(md) {
    max-width: 306px; /* 自訂卡片寬度 */
    flex-shrink: 0; /* 避免被壓縮 */
  }
}

.swiper-navigation-icon {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 56px;
  height: 56px;
  padding: 16px;
  font-size: 24px;
  border-radius: 100%;
  background: $primary-600;
  color: #fff;
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-button-prev {
  transform: translate(-80px, 0);
}
.swiper-button-next {
  transform: translate(80px, 0);
}
