<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>植感生活 | PLANTIQUE LIFE</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!-- hero section start -->

    <!-- hero section end -->

    <!-- news section start -->

    <!-- news section end -->

    <!-- category section start -->

    <!-- category section end -->

    <!-- recommend section start -->

    <!-- recommend section end -->

    <!-- column section start -->

    <!-- column section end -->

    <!-- about section start -->

    <!-- about section end -->

    <!-- button 測試 -->
    <%- include('./components/buttons/button-include-sample'); -%>
    <!-- 測試結束 -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>
