<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>荒原綠影 | 植感生活 PLANTIQUE LIFE</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- upper-part-start -->

    <section class="py-8 py-lg-13">
      <div class="container">
        <!-- prettier-ignore -->
        <%- include('./components/breadcrumb',
            {
              items: [
                {
                  name: '首頁',
                  link: 'index.html',
                },
                {
                  name: '植感精選',
                  link: '#',
                },
                {
                  name: '療癒組盆',
                  link: '#',
                },
                {
                  name: '荒原綠影',
                  link: '#',
                },
              ]
            }
          );
        -%>
      </div>

      <div class="container">
        <div class="row">
          <div class="gx-0 gx-sm-6 col-lg-7">
            <div class="mb-3 mb-lg-0">
              <div class="swiper product-swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13.png" alt="img_product_13" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13-1.png" alt="img_product_13-1" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13-3.png" alt="img_product_13-3" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13-4.png" alt="img_product_13-4" />
                  </div>
                </div>
                <div class="swiper-pagination d-flex d-lg-none justify-content-center"></div>
              </div>
              <div thumbsSlider="" class="swiper thumb-swiper d-none d-lg-flex pt-6">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13.png" alt="thumb_img_product_13" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13-1.png" alt="thumb_img_product_13-1" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13-3.png" alt="thumb_img_product_13-3" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/images/img_product_13-4.png" alt="thumb_img_product_13-4" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="d-flex flex-column gap-8 gap-md-5 gap-xl-4 gap-xxl-10">
              <!-- info -->

              <div class="d-flex flex-column gap-1 gap-xl-3">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="fs-xs fs-lg-sm text-primary bg-primary-100 px-2 px-lg-3 py-1">質感精選</span>
                  <button type="button" class="btn bg-transparent border-0 p-0">
                    <span
                      class="material-symbols-rounded text-neutral-700 p-2 p-lg-3 bg-white bg-opacity-40 rounded-circle"
                    >
                      favorite
                    </span>
                  </button>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                  <h2 class="fs-5 fs-lg-4 text-neutral-700">荒原綠影</h2>
                  <span class="fs-sm fs-lg-8 text-danger">剩餘 5 件</span>
                </div>

                <p class="noto-serif-tc fw-bold fs-5 fs-lg-4 lh-sm text-primary-700">NT$2,400</p>
              </div>

              <!-- payment -->

              <div class="fs-sm fs-lg-8 text-neutral-400">
                <div class="d-flex justify-content-start gap-lg-6">
                  <span>付款方式</span>
                  <ul class="d-flex flex-column">
                    <li>全館滿 5,000 免運</li>
                    <li>仙人掌系列買五送一</li>
                  </ul>
                </div>
              </div>

              <!-- add-on -->

              <div>
                <span class="d-block fs-sm fs-lg-8 text-neutral-400 mb-3 mb-xl-6">加購商品</span>
                <ul class="list-unstyled d-flex flex-column gap-3 gap-lg-4">
                  <li class="d-flex justify-content-between align-items-center gap-3 gap-lg-4">
                    <!-- prettier-ignore -->
                    <%- include('./components/add-on', {
                      imgPath: '/assets/images/img_product_add_01.png',
                      imgAlt: 'img_product_add_01',
                      name: '噴霧器',
                      price: 'NT$129',
                      discountPrice: '$249',
                    }) %>
                  </li>
                  <li class="d-flex justify-content-between align-items-center gap-3 gap-lg-4">
                    <!-- prettier-ignore -->
                    <%- include('./components/add-on', {
                      imgPath: '/assets/images/img_product_add_02.png',
                      imgAlt: 'img_product_add_02',
                      name: '日本赤玉土',
                      price: 'NT$300',
                      discountPrice: '',
                    }) %>
                  </li>
                </ul>
              </div>

              <!-- add-to-cart -->

              <div
                class="d-lg-flex flex-lg-column flex-lg-wrap flex-xl-row justify-content-lg-between align-items-center gap-lg-4 gap-xl-3"
              >
                <div
                  class="d-flex justify-content-lg-between align-items-center flex-lg-grow-1 gap-3 gap-lg-6 mb-4 mb-lg-0"
                >
                  <div class="w-50 w-lg-auto d-flex justify-content-between align-items-center gap-1 gap-lg-2">
                    <button
                      type="button"
                      class="btn d-flex justify-content-center align-items-center p-4 rounded-circle border border-2 flex-shrink-0 flex-grow-0 btn-circle-lg"
                    >
                      <span class="material-symbols-rounded align-bottom"> remove </span>
                    </button>
                    <span class="noto-serif-tc fw-bold fs-6 lh-sm text-center product-counter">1</span>
                    <button
                      type="button"
                      class="btn d-flex justify-content-center align-items-center p-4 rounded-circle border border-2 flex-lg-shrink-0 btn-circle-lg"
                    >
                      <span class="material-symbols-rounded align-bottom"> add_2 </span>
                    </button>
                  </div>

                  <button
                    type="button"
                    class="w-50 w-lg-auto btn fs-lg-7 border border-2 border-neutral-200 rounded-pill d-flex justify-content-center align-items-center px-6 px-lg-7 py-3 py-lg-4 flex-lg-shrink-0"
                  >
                    <span class="material-symbols-rounded me-2"> shopping_cart </span>
                    加入購物車
                  </button>
                </div>

                <button
                  type="button"
                  class="btn border-0 fs-lg-7 text-white bg-primary rounded-pill px-6 px-lg-7 py-3 py-lg-4 w-100 w-xl-auto flex-grow-1"
                >
                  立即購買
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- upper-part-end -->

    <!-- bottom-part-start -->

    <!-- bottom-part-end -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="/assets/js/product-detail.js"></script>
  </body>
</html>
