<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>荒原綠影 | 植感生活 PLANTIQUE LIFE</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- upper-part-start -->

    <!-- upper-part-end -->

    <!-- bottom-part-start -->

    <!-- bottom-part-end -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="/assets/js/product-detail.js"></script>
  </body>
</html>
