.column-section .card {
  .articaleCard-img-top {
    max-height: 180px;
    @include media-breakpoint-up(lg) {
      max-height: 180px;
    }
  }
}

#curing,
#succulent,
#life {
  scroll-margin-top: 120px; // 根據navbar高度微調
}
