.life-section {
  height: 322px;
  background: url('/assets/images/img_banner_02.png') no-repeat 50% / cover;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 217px;
    background: rgba($white, 0.6);
    backdrop-filter: blur(12px);
    z-index: 0;
  }
  @include media-breakpoint-up(lg) {
    height: 322px;
    &::before {
      width: 50%;
      height: 100%;
    }
  }

  .life-text-wrapper {
    z-index: 1;
    position: relative;
    top: 103px;
    @include media-breakpoint-up(lg) {
      top: 0;
    }
  }
}

.column-tag {
  &.active,
  &:hover {
    background-color: $primary;
    color: $white !important;
  }
}
